.App {
  text-align: center;
}

.App-sub_header {
  vertical-align: middle;
  font-size: calc(10px + 1.7vmin);
  outline: 4px;
  outline-style: solid;
  outline-color: rgb(0,0,128);
  width: 55vw;
  box-shadow: 0 0 0 2px rgb(39,144,198);
  background: rgb(100,149,237);
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 24vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.box {
  outline: 2px rgb(216,255,248);
  box-shadow: 0 0 0 2px rgb(39,144,198);
  background: #fffede;
  padding: .5em 1.3em;
  animation: 1s animateBorder ease infinite;
  box-decoration-break: clone;
}

.animated_box {
  outline: 2px rgb(216,255,248);
  box-shadow: 0 0 0 2px rgb(39,144,198);
  background: #fffede;
  padding: .5em 1.3em;
  animation: 1s animateBorder ease infinite;
  box-decoration-break: clone;
}
@keyframes animateBorder{
  to{
    outline-color: rgb(39,144,198);
    box-shadow: 0 0 0 2px rgb(216,255,248);
  }
}